#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&encoder_left {
    status = "okey";
};

/ {

    sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&encoder_left>;
        triggers-per-rotation = <20>;
    }

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp A &kp B
                &kp C &kp D
                &kp E &kp F
            >;
            sensor-bindings = <&inc_dec_kp G H>;
        };
    };
};