#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

&encoder_left {
    status = "okay";
};

/ {

    sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&encoder_left>;
        triggers-per-rotation = <20>;
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &bt BT_CLR &bt BT_NXT
                &kp C &kp D
                &kp E &kp W
            >;
            sensor-bindings = <&inc_dec_kp G H>;
        };
    };
};